<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    
      </main>
  <footer class="bg-gray-100 text-center p-6 mt-10">
    <p>&copy; <%= new Date().getFullYear() %> Zaida El Aissati. Alle rechten voorbehouden.</p>
  </footer>
</body>
</html>

</body>
</html>